Repository ioBroker/ioBroker.js-controller, pull requests merged in 2022-12, with the labels that each got.

#2019 Exclude cloud and iot from masking of protectedNative attributes.
  README.md
  packages/adapter/src/lib/adapter/adapter.ts
  packages/adapter/src/lib/adapter/constants.ts
Labels: documentation :memo:, controller related :volcano:

#2000 valdiate dataDir
  packages/cli/src/index.js
  packages/cli/src/lib/_Types.ts
  packages/cli/src/lib/setup/pluginInfos.ts
  packages/cli/src/lib/setup/setupBackup.ts
  packages/cli/src/lib/setup/setupInstall.ts
  packages/cli/src/lib/setup/setupSetup.ts
  packages/cli/src/lib/setup/setupUpgrade.ts
  packages/common-db/src/lib/common/tools.ts
  packages/common/src/lib/common/tools.ts
  packages/controller/src/lib/setup.js
  packages/db-objects-redis/src/lib/objects/objectsInRedisClient.ts
  packages/db-states-redis/src/lib/states/statesInRedisClient.ts
Labels: controller related :volcano:

#2025 Fix config objects beeing non existing on startup in REDIS tests
  .eslintrc.js
  lerna.json
  package-lock.json
  package.json
  packages/controller/test/.eslintrc
  packages/controller/test/jsonl/testAdapterObjectsInFileJsonl.js
  packages/controller/test/jsonl/testAdapterObjectsInFileJsonl.ts
  packages/controller/test/jsonl/testAdapterStatesInFilesJsonl.ts
  packages/controller/test/lib/setup4controller.js
  packages/controller/test/lib/setup4controller.ts
  packages/controller/test/lib/testAdapter.js
  packages/controller/test/lib/testObjectsACL.js
  packages/controller/test/redis-sentinel/testAdapterStatesRedis.ts
  packages/controller/test/redis-sentinel/testStatesRedis.js
  packages/controller/test/redis-sentinel/testStatesRedis.ts
  packages/controller/test/redis-socket/testAdapterStatesRedis.js
  packages/controller/test/redis-socket/testStatesRedis.js
  packages/controller/test/testAdapterObjectsInFile.js
  packages/controller/test/testAdapterObjectsInFile.ts
  packages/controller/test/testAdapterObjectsInRedis.js
  packages/controller/test/testAdapterObjectsInRedis.ts
  packages/controller/test/testAdapterStatesInFile.ts
  packages/controller/test/testAdapterStatesRedis.ts
  packages/controller/test/testPackageFiles.ts
  packages/controller/test/testStates.js
  packages/controller/test/testStates.ts
  packages/controller/test/testStatesRedis.js
  packages/controller/test/testStatesRedis.ts
  packages/controller/test/testTools.ts
  packages/controller/test/tsconfig.json
  packages/db-states-redis/src/lib/states/statesInRedisClient.ts
Labels: testing :microscope:

#2059 optimize preinstall check
  packages/controller/src/lib/preinstallCheck.js
  packages/controller/src/lib/preinstallCheck.ts
Labels: controller related :volcano:

#2037 Move types into repo
  .eslintrc.js
  .github/workflows/ci-tests.yml
  nx.json
  package-lock.json
  package.json
  packages/adapter/src/index.ts
  packages/adapter/src/lib/_Types.ts
  packages/adapter/src/lib/adapter/adapter.ts
  packages/adapter/src/lib/adapter/log.ts
  packages/adapter/src/lib/adapter/utils.ts
  packages/cli/src/lib/cli/cliStates.ts
  packages/cli/src/lib/setup/setupSetup.ts
  packages/db-objects-redis/src/lib/objects/objectsInRedisClient.ts
  packages/types/LICENSE
  packages/types/api-extractor.json
  packages/types/build.ts
  packages/types/index.d.ts
  packages/types/index.test-d.ts
  packages/types/objects.d.ts
  packages/types/package.json
  tsconfig.json
Labels: controller related :volcano:

#2044 Added CLI option to restart/start/stop all instances of adapter
  packages/cli/src/lib/cli/cliProcess.js
  packages/controller/src/lib/setup.js
Labels: controller related :volcano:

#2029 if an adapter process is called with install
  packages/adapter/src/lib/_Types.ts
  packages/adapter/src/lib/adapter/adapter.ts
Labels: documentation :memo:, adapter related :nut_and_bolt:

#2074 added support for `getForeignObjects` with arrays
  packages/adapter/src/lib/_Types.ts
  packages/adapter/src/lib/adapter/adapter.ts
  packages/adapter/src/lib/adapter/constants.ts
  packages/controller/test/lib/testObjectsFunctions.js
Labels: enhancement :arrow_up:, documentation :memo:, adapter related :nut_and_bolt:

#2077 use mget instead of single get on getStates for alias ids
  packages/adapter/src/lib/adapter/adapter.ts
Labels: adapter related :nut_and_bolt:, performance :chart_with_upwards_trend:
